<div class="navbar bg-base-100 shadow-lg">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        {% if user.is_authenticated %}
          <li><a href="{% url 'core:todo' %}">Todos</a></li>
          <li><a href="{% url 'core:secret' %}">Secret</a></li>
        {% endif %}
      </ul>
    </div>
    <a href="{% url 'core:index' %}" class="btn btn-ghost text-xl">Home In Block</a>
  </div>

  <div class="navbar-center hidden lg:flex">
    {% if user.is_authenticated %}
      <ul class="menu menu-horizontal px-1">
        <li><a href="{% url 'core:todo' %}">Todos</a></li>
        <li><a href="{% url 'core:secret' %}">Secret</a></li>
      </ul>
    {% endif %}
  </div>

  <div class="navbar-end">
    {% if user.is_authenticated %}
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar placeholder">
          <div class="bg-neutral text-neutral-content w-10 rounded-full">
            <span class="text-xl">{{ user.username|first|upper }}</span>
          </div>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><a class="justify-between">Profile</a></li>
          <li><a href="{% url 'account_logout' %}">Logout</a></li>
        </ul>
      </div>
    {% else %}
      <a href="{% url 'account_login' %}" class="btn btn-primary">Login</a>
      <a href="{% url 'account_signup' %}" class="btn btn-ghost">Sign Up</a>
    {% endif %}
  </div>
</div>
